div{
    background-color: chartreuse;
    color: blue;
    border-top-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
}
table,td,th{
    color: red;
    border: 1px solid;
}   
button{
    background-color: yellowgreen;
    border-radius: 20%;
}
