<div>
    <h2>{{componentTitle}}</h2>
    <br/>
    <form #loginForm="ngForm">
        <div class="div3">
            <label>User Name:</label>&nbsp;
            <input type="text" name="username" [(ngModel)]="username"#usernameRef="ngModel" required minlength="10"/>
            <div *ngIf="usernameRef.touched && usernameRef.invalid">
                <small class="text-danger" >User Name is required & Must contain minimum of 10 characters</small>
            </div>
        </div>
        <br/>
        <div class="div2">
            <label>Password:</label>&nbsp;&nbsp;&nbsp;
            <input type="password" name="password" [(ngModel)]="password"#passwordRef="ngModel" required minlength="6"/>
            <div *ngIf="passwordRef.touched && passwordRef.invalid">
                <small class="text-danger" >Password is required & Must contain minimum of 6 characters</small>
            </div>
        </div>
        <br/>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
